.App {
  height: 100%;
  color: white;
}

a {
  text-decoration: none;
  margin: 20px;
}
.card-container {
  display: flex;
  width: 500px;
  height: 250px;
  background: #2f7e5a;
  border: 5px solid #6a9e87;
  border-radius: 10px;
  box-shadow: 3px 3px 3px #14603d;
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-container img {
  height: 200px;
  margin: 20px 0 0 20px;
  border-radius: 10px;
}

.text-container {
  margin-left: 20px;
}

header {
  margin-left: 50px;
  text-align: center;
}

.user-card {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.follower-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}
